<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLite Bread(Browse, Read, Edit, Add, Delete) and Pagination</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.css">

<body>
    <div class="container">
        <div class="card text-left">
            <div class="card-header text-center">
                <h1>SQLite Bread(Browse, Read, Edit, Add, Delete) and Pagination</h1>
            </div>
            <form action="" method="get">

                <input type="hidden" name="page" value="1">

                <div class="card-body">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" id="name" class="form-control" placeholder="insert your name"
                                value="<%=query.name%>">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="heigh" class="col-sm-2 col-form-label">Height</label>
                        <div class="col-sm-10">
                            <input type="number" name="height" id="height" class="form-control"
                                placeholder="insert your height" value="<%=query.height%>">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="weight" class="col-sm-2 col-form-label">Weight</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" name="weight" id="weight" class="form-control"
                                placeholder="insert your weight" value="<%=query.weight%>">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="date" class="col-sm-2 col-form-label">Birth Date</label>
                        <div class="col-sm-4">
                            <input type="date" name="stardate" id="stardate" class="form-control"
                                value="<%=query.stardate%>">
                        </div>
                        <div class="col-sm-2 text-center">
                            <p>s.d</p>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="enddate" id="enddate" class="form-control"
                                value="<%=query.enddate%>">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="married" class="col-sm-2 col-form-label">Is Married</label>
                        <div class="col-sm-10">
                            <select name="married" id="married" class="form-control">
                                <!-- <%if(query.married==0){%>
                                    <option disabled>-select married-</option>
                                    <option value="0" selected>Not Yet</option>
                                    <option value="1">Yes</option>
                                    <%} else if(query.married==1){%>
                                        <option disabled>-select married-</option>
                                        <option value="0">Not Yet</option>
                                        <option value="1" selected>Yes</option>
                                        <%} else {%>
                                            <option disabled selected>-select married-</option>
                                            <option value="0">Not Yet</option>
                                            <option value="1">Yes</option>
                                            <%}%> -->

                                <option <%=!query.married=='0' && !query.married=='1' ? ' disabled selected' : '' %>
                                    disabled selected>-select married-</option>
                                <option value="0" <%=!query.married=='0' ? ' selected' : '' %>>Not Yet</option>
                                <option value="1" <%=query.married=='1' ? ' selected' : '' %>>Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="operation" class="col-sm-2 col-form-label">Operation</label>
                        <div class="col-sm-10">
                            <%if(query.operation!=='or' && query.operation!=='and' ){%>
                                <input type="radio" name="operation" value="or" checked>OR
                                <input type="radio" name="operation" value="and">AND
                                <%} else if(query.operation=='or' ){%>
                                    <input type="radio" name="operation" value="or" checked>OR
                                    <input type="radio" name="operation" value="and">AND
                                    <%} else{%>
                                        <input type="radio" name="operation" value="or">OR
                                        <input type="radio" name="operation" value="and" checked>AND
                                        <%}%>
                        </div>
                    </div>


                    <input class="btn btn-info px-3 py-1" type="submit" value="Search">
                    <a href="/" class="btn btn-warning px-3 py-1">Reset</a>
                    <hr>
                </div>
            </form>

            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Birth Date</th>
                        <th>Is Married</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <%data.forEach((item, index)=> {%>
                        <tr>
                            <td>
                                <%=index + offset + 1%>
                            </td>
                            <td>
                                <%=item.name%>
                            </td>
                            <td>
                                <%=item.height%>
                            </td>
                            <td>
                                <%=item.weight%>
                            </td>
                            <td>
                                <%=item.birthdate%>
                            </td>
                            <td>
                                <%=item.married ? 'Yes' : 'Not Yet' %>
                            </td>
                            <td>

                                <a class="btn btn-success px-3 py-1" href="/edit/<%=item.id%>">Update</a>
                                <a class="btn btn-danger px-3 py-1" href="/delete/<%=item.id%>"
                                    onclick="return confirm(`apakah kamu yakin akan menghapus data '<%=item.name%>'?`)">Delete</a>
                            </td>
                        </tr>

                        <%})%>
                </tbody>
            </table>
            <div class="card-footer text-body-secondary">
                <a class="btn btn-primary px-4 py-1" href="/add">Add</a>

                <nav aria-label="Page navigation example" class="float-end">
                    <ul class="pagination">
                        <li class="page-item">
                            <%if(page> 1){%>
                                <a class="page-link" href="<%=url.replace(`page=${page}`, `page=${Number(page) - 1}`)%>"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <%}%>
                                </a>
                        </li>
                        <% for(let i=1; i <=pages; i++) { %>
                            <li class="page-item <%= i == page ? ' active' : '' %>"><a class="page-link"
                                    href="<%=url.replace(`page=${page}`, `page=${i}`)%>">
                                    <%=i%>
                                </a></li>
                            <%}%>
                                <li class="page-item">
                                    <%if(page < pages){%>
                                        <a class="page-link"
                                            href="<%=url.replace(`page=${page}`, `page=${Number(page) + 1}`)%>"
                                            aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <%}%>
                                        </a>
                                </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>